<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IEEE LaunchPad Kerala Newsletter</title>
    <link rel="icon" href="favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="preloader-wrapper">
        <img src="preloader.svg" alt="Preloader" class="preloader-svg">
    </div>

    <header>
        <!-- Logo -->
        <img src="launchpadkerala.svg" alt="IEEE LaunchPad Kerala Logo" class="logo">
        <h1>IEEE LaunchPad Kerala Newsletter</h1>
    </header>
    <div class="container">
        <div class="content">
            <!-- Your content goes here -->
            <h2>IEEE LaunchPad Kerala</h2>
            <p>
                IEEE LaunchPad Kerala is one of the most prestigious event of IEEE Kerala Section and GTech MuLearn that is determined to serve the goal of creating opportunities for engineering students and graduates.
                
                Launchpad Kerala 2024 is a premier job fair that brings together talented individuals and innovative companies in the technical and engineering fields. This collaboration between IEEE Kerala Section and GTech MuLearn aims to create meaningful connections that drive progress and innovation in Kerala's job market.</p>
                <h2>Call to Action</h2>
                <p>Join us in shaping the future of technology! Whether you're a student, professional, or enthusiast, there's a place for you in our vibrant community.</p>
                <ul>
                    <li>Unique Assessment Approach:<br>Launchpad Kerala 2024's standout assessment process includes a rigorous technical challenge and online tests. This approach evaluates technical and non-technical skills, ensuring only the best candidates proceed to interviews, offering unparalleled opportunities for both candidates and companies.</li>
                    <li>Flexible Interview Locations:<br>Shortlisted candidates for Launchpad Kerala 2024 can opt for interviews in Trivandrum, Kochi, or Kozhikode, streamlining the hiring process for companies and maximizing participation from top talent.</li>
                    <li>Comprehensive Talent Pool:<br>Launchpad Kerala 2024 boasts a diverse talent pool sourced from across Kerala, catering to various skill sets and experience levels, providing companies with access to top-tier candidates for a multitude of roles.</li>
                    <li>Strategic Partnerships:<br>The collaboration between IEEE Kerala Section and GTech MuLearn for Launchpad Kerala enhances its impact, offering a premier job fair experience. This partnership ensures candidates undergo a thorough assessment, while companies gain access to top talent and increased brand visibility.</li>
                </ul>
                
                <h2>Latest Updates</h2>
                <p>Stay informed with the latest news and developments from IEEE LaunchPad Kerala.</p>
                <ul>
                    <li>General Update: We are excited to announce the launch of new tasks for participants of IEEE Launchpad Kerala 2024! Get ready to enhance your skills and boost your career with our comprehensive task list.</li>
                    <li>Newly Launched Tasks:
                        <ol>
                            <li>Level 1 Tasks:
                                <ul>
                                    <li>Craft Your Digital Identity & Introduce Yourself!</li>
                                    <li>Register and Apply for "IEEE Launchpad Kerala 2024-Job Fair"</li>
                                </ul>
                            </li>
                            <li>Level 2 Tasks:
                                <ul>
                                    <li>Introduction to Git Essentials</li>
                                    <li>Introduction to GitHub</li>
                                    <li>Communicate Effectively on GitHub Using Markdown</li>
                                    <li>Discover Open-Source Projects on GitHub</li>
                                    <li>Mastering GitHub Projects Management</li>
                                    <li>Ensuring Repository Security with GitHub Best Practices</li>
                                    <li>Mastering GitHub Administration</li>
                                    <li>Managing User Identities on GitHub</li>
                                    <li>Navigating GitHub Repository History</li>
                                    <li>Enhancing Python Projects with GitHub Copilot</li>
                                    <li>Host Your Forked IEEE Launchpad Portfolio on GitHub Pages & Share Your URL!</li>
                                    <li>Craft an HTML Newsletter for IEEE Launch Pad Kerala</li>
                                </ul>
                            </li>
                        </ol>
                    </li>
                </ul>
            <h2>Event Roadmap</h2>
            <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
            <div class="history-tl-container">
              <ul class="tl">
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                    Participant Registration
                  </div>
                  <div class="item-title">Register for the event</div>
                  <div class="item-detail">Make sure to complete all required fields</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                    Company Registration Close
                  </div>
                  <div class="item-title">Deadline for company registration</div>
                  <div class="item-detail">Ensure all necessary paperwork is submitted</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                    Challenge Start
                  </div>
                  <div class="item-title">Official start of the challenge</div>
                  <div class="item-detail">Prepare to tackle the tasks ahead</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                    Online Exam
                  </div>
                  <div class="item-title">Take the online examination</div>
                  <div class="item-detail">Ensure a stable internet connection</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                    Consolidated Rank List
                  </div>
                  <div class="item-title">Publication of consolidated rank list</div>
                  <div class="item-detail">Check your ranking among participants</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                    Option Selection
                  </div>
                  <div class="item-title">Select preferred options</div>
                  <div class="item-detail">Choose your preferred opportunities</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                    Confirmed Mail to Selected Participants
                  </div>
                  <div class="item-title">Confirmation emails sent to selected participants</div>
                  <div class="item-detail">Check your inbox for further instructions</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">
                  <div class="timestamp">
                    Interviews
                  </div>
                  <div class="item-title">Interview sessions begin</div>
                  <div class="item-detail">Prepare for your interview</div>
                </li>
              </ul>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 IEEE LaunchPad Kerala. All rights reserved. <br>
             <a href="https://discord.com/invite/Jt7sv3chZP" class="discord-icon"><i class="fab fa-discord"></i></a>  <a href="https://launchpadkerala.org/" class="website-icon"><i class="fas fa-globe"></i></a> </p>
    </footer>

    <script>
        // Simulate preloader removal after 3 seconds
        setTimeout(function() {
            document.querySelector('.preloader-wrapper').style.display = 'none';
            document.body.style.overflow = 'auto'; // Restore overflow
        }, 3000);
    </script>
</body>
</html>
